---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Pathfinder">
	<section class="min-h-screen flex items-center justify-center">
		<h1 class="text-white font-black text-5xl">Pathfinder</h1>
	</section>
</Layout>

